.film-component-container {
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
   
}
.film-component{
    width: 15%;
    display: block;
}


.film-component-container-picture {
    height: auto;
    width: 100%;
    position: relative;
}

.film-component-container-picture img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.film-component-title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 45px;
    text-align: left;
}

.film-component-btn button {
    width: 70%;
    height: 30px;
    border-radius: 15px;
    background-color: #E64545;
    margin: 10px 0;
    color: white;
    padding: 5px;
    border: #E64545;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.film-component-component{
    width: 100%;
}
.film-component-type{
    font-size: 12px;
    opacity: 0.9;


}
.film-component-container-age{
    background-color: #c4c3c35b;
    border: 1px red solid;
    position: absolute;
    color: #ff0000;
    top: 5%;
    right: 5%;
    border-radius: 2px;
}
.film-component-container-age label{
  padding: 8px;
}
